<div class=" content">
    <div class=" row">
      <div class=" col-md-12">
        <div class=" card">
          <div class=" card-header">{{agenceNom}} <i class="fas fa-university"></i></div>

          <div *ngIf="alert;else false" class="alert alert-danger" role="alert">Invalid, check your fields !!</div>
          <div *ngIf="alertEmail;else false" class="alert alert-danger" role="alert">Email field invalide !!</div>
          <div *ngIf="alertPhone;else false" class="alert alert-danger" role="alert">Phone field invalide !!</div>
         
          

          <div class=" card-body">
            <ng2-smart-table
            [settings]="settings"
             [source]="this.agents"
             (createConfirm)="onAddAgent($event)"
             (editConfirm)="onUpdateAgent($event)"
             (deleteConfirm)="onDeleteAgent($event)"
           ></ng2-smart-table>
           <mat-progress-spinner [mode]="'indeterminate'" *ngIf="loading$ | async"></mat-progress-spinner>
          </div>
        </div>
      </div>
    </div>
  </div>
  